<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czw.gmall.manage.mapper.AttrInfoMapper">
    <select id="selectAttrValueListByValueId" resultMap="selectAttrValueListByValueIdMap">
       		SELECT
			bai.*,bav.*,bai.id as bai_id,bav.id as bav_id
			FROM
				pms_base_attr_info bai,
				pms_base_attr_value bav
			WHERE
				bai.id = bav.attr_id
			AND
				bav.id in(${valueIdStr})
    </select>
	<resultMap id="selectAttrValueListByValueIdMap" type="com.czw.gmall.beans.PmsBaseAttrInfo" autoMapping="true">
		<result column="bai_id" property="id" ></result>
		<collection property="attrValueList" ofType="com.czw.gmall.beans.PmsBaseAttrValue" autoMapping="true">
			<result column="bav_id" property="id"></result>
		</collection>
	</resultMap>
</mapper>